@font-face {
  font-family: 'Freight Sans Medium';
  src: url(../fonts/FreightSans-Medium.ttf);
}

div.button-scan-wrapper {
  text-align: center;
  padding: 10%;
  padding-top: 25%;

  img {
    width: 100%;
  }

  div#bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15%;

    input#scan {
      border: none;
      background-color: #FD505E;
      width: 100%;
      font-family: 'Freight Sans Medium';
      text-transform: uppercase;
      color: white;
      font-size: 30px;
      padding: 10px;
      margin-bottom: 5%;
    }
  }
}